.market{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #f96400;
  &__title{
    display: block;
    position: relative;
    float: left;
    color: black;
    font-family: $calibri;
    font-size: 24px;
    margin: 30px 0px;
    text-align: left;
  }
}
.market-pagination{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  &__way{
    display: block;
    position: relative;
    float: left;
    color: #272727;
    font-family: $calibri;
    font-size: 14px;
    margin: 20px 0px;
    &--link{
      color: #272727;
      margin-right: 5px;
    }
    &--link:hover{
      text-decoration: underline;
    }
    &--counter{
      color: #d0d0d0;
      font-weight: 700;
    }
  }
  &__pages{
    display: block;
    position: relative;
    float: right;
    font-family: $calibri;
    font-size: 14px;
    margin: 20px 0px;
    .back{
      display: inline-block;
      position: relative;
      color: #272727;
      margin-right: 10px;
      @include transition(0.3s);
      &:hover{
        color: $orange;
      }
    }
    .next{
      display: inline-block;
      position: relative;
      color: #f96400;
      margin-right: 10px;
      @include transition(0.3s);
      &:hover{
        color: $base;
      }
    }
    .next-arrow{
      display: inline-block;
      position: relative;
      width: 11px;
      height: 7px;
      background-image: url("../img/icons/pagin_arrow.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  &__box{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__clases{
    display: block;
    position: relative;
    float: left;
    padding: 0;
    list-style: none;
    li{
      width: 100%;
      font-family: $calibri;
      font-size: 14px;
      a{
        color: #272727;
        font-weight: 400;
        @include transition(0.3s);
        &:hover{
          color: $orange;
        }
      }
    }
  }
}
.market-slider{
  display: block;
  position: relative;
  width: 50%;
  float: left;
  /*margin-left: 43px;*/
  &__box{
    display: block;
    position: relative;
    width: 100%;
    float: left;
  }
  &__single{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    &--img{
      display: block;
      position: relative;
      width: 100%;
      height: 359px;
      @include overflow-img;
      img{
        max-width: 150%;
      }
    }
    .flex-control-thumbs li {
      width: 33%;
      height: 100px;
      float: left;
      margin: 0;
      overflow: hidden;
    }
  }
}
.market-descr{
  display: block;
  position: relative;
  width: 50%;
  float: left;
  &__box{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    background-color: #d0d0d0;
    margin-left: 22px;
    &--title{
      display: block;
      position: relative;
      float: left;
      color: #272727;
      font-family: $calibri;
      font-size: 18px;
      margin-left: 14px;
    }
    &--field{
      display: block;
      position: relative;
      width: 91%;
      height: 33px;
      float: left;
      background-color: white;
      border: 0.75px solid #bababa;
      border-radius: 7px;
      color: #272727;
      font-size: 16px;
      font-family: $calibri;
      line-height: 31px;
      margin-left: 14px;
      margin-top: 10px;
      padding-left: 14px;
    }
  }
}